<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <Link rel="stylesheet" href="/style.css"></Link>
    <title>Dashboard</title>
</head>
<body>
    <h1>Top 10 Child Screenings</h1>
    <table>
        <thead>
            <tr>
                <!-- <% for (const obj of screenings){%> -->
                    
                        <!-- <th><%= obj%></th> -->
                    <!-- <th>ID</th>
                    <th>CS06</th>
                    <th>CS12</th>
                    <th>CS1502</th>
                    <th>UC</th>
                    <th>Village</th> -->
                    
                <!-- <%}%> -->
                <% if (screenings.length > 0) { %>
                    <% for (const key in screenings[0]) { %>
                        <th><%= key %></th>
                    <% } %>
                <% } %>
            </tr>
        </thead>
        <tbody>
            <!-- <% screenings.forEach(screening => { %>
                <tr>
                    <td><%= screening.col_id %></td>
                    <td><%= screening.cs06 %></td>
                    <td><%= screening.cs12 %></td>
                    <td><%= screening.cs1502 %></td>
                    <td><%= screening.uc %></td>
                    <td><%= screening.village %></td>
                </tr>
            <% }) %> -->
            <% for (const obj of screenings) { %>
           
                <tr>
                    <%for(const key in obj){%>
                        <td><%= obj[key]%></td>
                    <%}%>
                </tr>
            <% } %>
            
        </tbody>
    </table>
</body>
</html>